body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.top-buttons {
    display: flex;
    margin-bottom: 5vh;
    justify-content: space-between;
    align-items: center;
}

#reset {
    max-width: fit-content;
    margin-right: auto;
}

button {
    padding: 1rem 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition-duration: 0.4s;
}

.btn-red {
    border: 5px solid darkred;
    background-color: white;
    color: darkred;
}

.btn-red:hover {
    background-color: darkred;
    color: white;
}

.btn-green {
    border: 5px solid green;
    background-color: white;
    color: green;
}

.btn-green:hover {
    background-color: green;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    width: 70vh;
    justify-content: center;
    align-items: center;
    border: 1rem solid rgb(34, 0, 146);
    border-radius: 20px;
}

.cell {
    outline: 1px solid rgba(0, 0, 255, 0.282);
    box-sizing: border-box;
}

.cell:hover {
    background-color: #b9b9b9;
    cursor:pointer;
}

.no-drag {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    touch-action: none;
}