body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.top-buttons {
    display: flex;
    margin-bottom: 5vh;
    justify-content: space-between;
    align-items: center;
}

#reset {
    max-width: fit-content;
    margin-right: auto;
}

button {
    padding: 15px 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition-duration: 0.4s;
}

.btn-red {
    border: 5px solid darkred;
    background-color: white;
    color: darkred;
}

.btn-red:hover {
    background-color: darkred;
    color: white;
}

.btn-green {
    border: 5px solid green;
    background-color: white;
    color: green;
}

.btn-green:hover {
    background-color: green;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    width: 70vh;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}

.cell {
    outline: 1px solid blue;
    box-sizing: border-box;
}

.cell:hover {
    background-color: #b9b9b9;
    cursor:pointer;
}

.cellBlack {
    background-color: black;
}